$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-color-blur: #2b3d75;
$text-gray: #c6cad7;

body {
  font-size: 62.5%; // 1rem = 10px
  color: $text-color;
  line-height: 1.2;
}

@mixin flex(
  $align: flex-start,
  $justify: flex-start,
  $wrap: nowrap,
  $dir: row
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  direction: $dir;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

// max-width: 1440px, content: 1170px
.wrapper {
  max-width: 1440px;
  height: 300px;
  margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

.header {
  padding-top: 4rem;
  &__inner {
    @include flex(center, space-between);
  }
  &__menu {
    &-list {
      @include flex(center);
    }
    &-item {
      margin-left: 4rem;
      &:last-child {
        margin-left: 6rem;
      }
    }
    &-link {
      font-size: 1rem;
      color: $text-color;
      transition: color 0.25s linear, border 0.25s linear;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &__login {
    padding: 1rem 2rem;
    display: inline-block;
    border: 1px solid currentColor;
    // when border 1px then the color of border is same with the text => currentColor
    border-radius: 2.5rem;
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: $text-color;
  &__text {
    color: $primary-color;
  }
}

.banner {
  padding-top: 10rem;
  max-width: 45rem;
  padding-bottom: 15rem;
  margin: 0 auto;
  text-align: center;
  &__heading {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 2.8rem;
  }
  &__desc {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 3.6rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .btn {
      margin: 0 1rem;
    }
  }
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
  font-weight: 600;
  padding: 1rem 2rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
  &--border {
    border: 1px solid currentColor;
  }
  &--rounded {
    border-radius: 5rem;
  }
  &--primary {
    background-color: $primary-color;
    &.has-shadow {
      box-shadow: 0 10px 35px -5px $primary-color;
    }
  }
}

.category {
  &__list {
    @include flex(stretch, space-between, wrap);
  }
  &__item {
    width: calc(25% - 22.5px);
    padding: 2rem;
    background-color: white;
    border-radius: 25px;
    // fix when the title in 2 lines or more, details will in the same line
    @include flex(stretch, flex-start, wrap, column);
    &:first-child {
      box-shadow: 0 30px 35px -5px rgba(255, 151, 195, 0.3);
    }
    &:nth-child(2) {
      box-shadow: 0 30px 35px -5px rgba(255, 112, 109, 0.3);
    }
    &:nth-child(3) {
      box-shadow: 0 30px 35px -5px rgba(133, 152, 255, 0.3);
    }
    &:nth-child(4) {
      box-shadow: 0 30px 35px -5px rgba(255, 200, 122, 0.3);
    }
  }
  &__image {
    border-radius: inherit;
    object-fit: cover;
    @include size(100%, 15rem);
    margin-bottom: 2.5rem;
  }
  &__name {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  &__name,
  &__details {
    // fix when the title or details is too long
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__details {
    color: $text-gray;
    font-size: 0.9rem;
    margin-top: auto; // fix when the title in 2 lines, details will in the same line
    font-weight: 500;
    i {
      margin-left: 1rem;
    }
  }
}

.feature {
  padding-top: 13rem;
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    &:nth-child(odd) {
      .feature__info {
        padding-left: 5rem;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .feature__info {
        padding-right: 5rem;
      }
    }
  }
  &__image,
  &__info {
    width: 50%;
  }
  &__info {
    padding-top: 10rem;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  &__desc {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.4;
    color: $text-color-blur;
    margin-bottom: 1.5rem;
  }
  &-intro {
    &__item {
      font-weight: 600;
      font-size: 1rem;
      text-decoration: underline;
      line-height: 1.4;
      margin-bottom: 1.5rem;
      &-circle {
        text-decoration: none;
        position: relative;
        padding-left: 1.5rem;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: #ff6ade;
          transform: translateY(-50%);
        }
        &:nth-child(2)::before {
          background-color: #89fe3e;
        }
        &:nth-child(3)::before {
          background-color: #25bdee;
        }
        &:nth-child(4)::before {
          background-color: #ff86a2;
        }
      }
    }
  }
  &-best {
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__item {
      width: calc(50% - 3rem);
      margin-bottom: 2rem;
      &:nth-child(1) {
        .feature-best__icon {
          color: #77b8b4;
        }
      }
      &:nth-child(2) {
        .feature-best__icon {
          color: #f6b86b;
        }
      }
      &:nth-child(3) {
        .feature-best__icon {
          color: #af88e1;
        }
      }
      &:nth-child(4) {
        .feature-best__icon {
          color: #a9c7ad;
        }
      }
    }
    &__icon {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 4px;
      @include flex(center, center);
      font-size: 1.8rem;
      margin-bottom: 1rem;
      position: relative;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        background-color: currentColor;
        top: 0;
        left: 0;
        opacity: 0.25;
        z-index: -1;
      }
    }
    &__title {
      font-weight: 600;
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
    &__desc {
      font-size: 1rem;
      color: $text-color-blur;
    }
  }
}

// fix when content is longer than 2 lines
.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &--2 {
    -webkit-line-clamp: 2;
  }
}

.partner {
  margin-bottom: 12rem;
  &__container {
    max-width: 60rem;
    text-align: center;
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 6rem;
    margin-bottom: 3.5rem;
    border-bottom: 1px solid currentColor;
  }
  &__list {
    max-width: 83rem;
    @include flex(center, space-between);
  }
}

.connect {
  text-align: center;
  margin-bottom: 12rem;
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &__notice {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }
  span {
    color: $primary-color;
  }
  &__list {
    @include flex(stretch, space-between);
  }
  &__item {
    width: calc(25% - 22.5px);
  }
}

.subscribe {
  margin-bottom: 4rem;
  &__container {
    @include flex(flex-start, space-between);
    border-bottom: 2px solid;
    padding-bottom: 6rem;
  }
  &__title,
  &__info {
    width: 50%;
  }
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 25rem;
  }
  &__form {
    background-color: #f2f1f6;
    @include flex(center, space-between);
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  &__input,
  &__button {
    padding: 0;
  }
  &__input {
    border: 0;
    outline: none;
    font-family: "Poppins";
    background-color: transparent;
    font-size: 1rem;
    flex-grow: 1;
    padding-right: 1rem;
  }
  &__button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 1rem;
    font-family: "Poppins";
    color: $text-color;
    font-weight: 600;
  }
  &__social i {
    margin-left: 3rem;
    font-size: 1.5rem;
  }
}

.footer {
  padding-bottom: 6rem;
  &__container {
    @include flex(flex-start, space-between);
  }
  &__item {
    width: 25%;
  }
  &__link {
    color: $text-color;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    // fit width equal content
    width: fit-content;
    line-height: 2;
  }
}
